.nav {
    grid-area: n;
    background-color: lightskyblue;
    padding: 25px;
}
.item a {
    color: darkblue;
    text-decoration: none;
}
.item a.activeLink{
    color:slateblue;
    font-style: italic;
}